<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mobai - Report</title>
</head>
<body>
    <div class="logo">
        <img src="{{ logo }}" alt="mobai logo">
    </div>
    
    <div>
        <table>
            <tr>
                <th colspan="2">ID Rapport Mobai</th>
            </tr>
            <tr>
                <td class="t-label">First Name:</td>
                <td>{{ report.first_name }}</td>
            </tr>
            <tr>
                <td class="t-label">Last Name:</td>
                <td>{{ report.last_name }}</td>
            </tr>
            <tr>
                <td class="t-label">Date of Birth:</td>
                <td>{{ report.date_of_birth }}</td>
            </tr>
<!--            <tr>-->
<!--                <td class="t-label">Innført av:</td>-->
<!--                <td>{{ "report.creator.name" }}</td>-->
<!--            </tr>-->
        </table>
        <hr>

        <table>
            <tr>
                <th colspan="2">Authentication Information</th>
            </tr>
            <tr>
                <td class="t-label">Biometric Comparison Decision:</td>
                <td>{{ report.biometric_comparison_decision }}</td>
            </tr>
            <tr>
                <td class="t-label">Biometric PAD Decision:</td>
                <td>{{ report.biometric_pad_decision }}</td>
            </tr>
            <tr>
                <td class="t-label">Chip Passive Authentication Success:</td>
                <td>{{ report.chip_passive_authentication_success }}</td>
            </tr>
            <tr>
                <td class="t-label">Chip Active Authentication Success:</td>
                <td>{{ report.chip_active_authentication_success }}</td>
            </tr>
<!--            <tr>-->
<!--                <td class="t-label">ID Nummer:</td>-->
<!--                <td>{{ "report.id_number" }}</td>-->
<!--            </tr>-->
        </table>
        <hr>

<!--        <table>-->
<!--            <tr>-->
<!--                <th colspan="2">Dokumentdata</th>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td class="t-label">Type dokument:</td>-->
<!--                <td>{{ report.document_type }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td class="t-label">Dokumentnummer:</td>-->
<!--                <td>{{ report.document_nr }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td class="t-label">Utstedelsesland:</td>-->
<!--                <td>{{ report.country_of_issue }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td class="t-label">Gyldig til:</td>-->
<!--                <td>{{ report.valid_to_date }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td class="t-label">Egen anmerkning:</td>-->
<!--                <td>{{ report.note }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td class="t-label">Helpdesk anmerkning:</td>-->
<!--                <td>{{ report.helpdesk_note }}</td>-->
<!--            </tr>-->
<!--        </table>-->
<!--        <hr>-->

<!--        <table>-->
<!--            <tr>-->
<!--                <th colspan="2">Kontroll av dokumentinnehaver og dokument</th>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Vurdering av dokumentinnehaver:</td>-->
<!--                <td>{{ report.assessment_of_document_owner }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>RFID Fotosammenligning:</td>-->
<!--                <td>{{ report.rfid_photo_comparison }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>RFID-brikke Data (AA):</td>-->
<!--                <td>{{ report.rfid_chip_data_aa }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>RFID-brikke sertifikat (PA):</td>-->
<!--                <td>{{ report.rfid_chip_certificate_pa }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Kontroll MRZ-kode:</td>-->
<!--                <td>{{ report.control_mrz_code }}</td>-->
<!--            </tr>-->
<!--        </table>-->
<!--        <hr>-->
<!--    </div>-->

    <div>

       <tr>
                <td>Identity document portrait photo:</td>
                <div>
            <img src="data:image/jpeg;base64,{{ report.identity_document_portrait_photo }}">
        </div>
       </tr>
        <tr>
                <td>Live photo:</td>
                <div>
            <img src="data:image/jpeg;base64,{{ report.identity_document_portrait_photo }}">
        </div>
        </tr>
<!--       </tr>-->
<!--        <div>-->
<!--            <img src="data:image/jpeg;base64,{{ report.live_portrait_photo }}">-->
<!--        </div>-->

<!--        <div>-->
<!--            <h3>Mobai fotosammenligning:</h3>-->
<!--            {% for item in report.photo_comparisons %}-->
<!--                <div>-->
<!--                    <div>-->
<!--                        <img src="data:image/jpeg;base64,{{ report.identity_document_portrait_photo }}">-->
<!--                        <img src="data:image/jpeg;base64,{{ report.live_portrait_photo }}">-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        V icon-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        Comparison score: {{ item.score }}-->
<!--                    </div>-->
<!--                </div>-->
<!--            {% endfor %}-->
<!--        </div>-->
    </div>
</body>
</html>